div {height: 50px;
border-top: 50px solid;}

#red {border-top-color: #f00;}
#orange {border-top-color: #ffa500;}
#yellow {border-top-color: #ff0;}
#green {border-top-color: #00bc3f;}
#blue {border-top-color: #06f;}
#indigo {border-top-color:#8a2be2;}
#violet {border-top-color: #d300c9;}

/* 1) sets #red div border-top-color to #f00
    2) sets #orange div border-top-color to #ffa500
    3) sets #yellow div border-top-color to #ff0
    4) sets #green div border-top-color to #00bc3f
    5) sets #blue div border-top-color to #06f
    6) sets #indigo div border-top-color to #8a2be2
    7) sets #violet div border-top-color to #d300c9 */
